@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="@Url.Content("~/StyleSheet/ProjectEmp.css")" rel="stylesheet" type="text/css" />

    <meta name="viewport" content="width=device-width" />
    <title>Projects</title>
</head>
<body>
    <form>
        <div class="topBar" style="width:100%; height:10%; position:absolute; background-color:#C4CCDE;left: 0; top:0;float:right; margin-right:0;">
            <a href="Bathrooms.aspx">TROYE</a>

        </div>
        <br />
        <br />
        <br />
        <div class="sidebar" style="margin-top: auto;">

            <a href="#AdminSection" class="tablinks" onclick="openOption(event, 'Home')" id="defaultOpen">Home</a>
            <a href="#Dashboard" class="tablinks" onclick="openOption(event, 'Dashboard')">Dashboard</a>
            <a href="#Register" class="tablinks" onclick="openOption(event, 'Register')">Register</a>
            <a href="#Projects" class="tablinks" onclick="openOption(event, 'Projects')">Projects</a>

        </div>
        <!-- This is section1 of the page-->
        <div class="section2">
            <div class="textarea">
                <p>Current Projects </p>
                <br />
                <asp:ListBox ID="listCurrent" runat="server" Width="30%" Height="30%"></asp:ListBox>  <asp:Button ID="btnSelectCurrent" runat="server" Text="View" />

                <br />
                <br />
                <asp:ListBox ID="listViewCurrent" runat="server" Width="85%" Height="70%" Rows="10"></asp:ListBox>
                <br />
                <br />
                <p>All Projects </p>
                <br />
                <asp:ListBox ID="listAll" runat="server" Width="30%" Height="50%"></asp:ListBox>  <asp:Button ID="btnSelectAll" runat="server" Text="View" />
                <br />
                <br />
                <asp:ListBox ID="listViewAll" runat="server" Width="85%" Height="70%" Rows="19"></asp:ListBox>
                <br />
                <br />
                <br />
                <asp:ListBox ID="listCurrent" runat="server" Width="30%" Height="30%"></asp:ListBox>  <asp:Button ID="btnSelectCurrent" runat="server" Text="View" />

                <br />
                <br />
                <asp:ListBox ID="listViewCurrent" runat="server" Width="85%" Height="70%" Rows="10"></asp:ListBox>
                <br />
                <br />
                <p>All Projects </p>
                <br />
                <asp:ListBox ID="listAll" runat="server" Width="30%" Height="50%"></asp:ListBox>  <asp:Button ID="btnSelectAll" runat="server" Text="View" />
                <br />
                <br />
                <asp:ListBox ID="listViewAll" runat="server" Width="85%" Height="70%" Rows="19"></asp:ListBox>
                <br />
                <br />


            </div>
        </div>

    </form>

   
    
</body>
</html>
