@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <h1>Testing this branch out</h1>
    <div>
        @RenderBody()
    </div>
</body>
</html>
