@using Troye_Computer_Systems.Models;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="@Url.Content("~/Style Sheet/Profile.css")" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width" />
    <title>Employee Profiles</title>
</head>
<div class="topBar" style="width:100%; height:10%; position:absolute; background-color:#C4CCDE;left: 0; top:0;float:right; margin-right:0;">
    <a href="Bathrooms.aspx">TROYE</a>
</div>
<br />
<br />
<br />
<div class="sidebar" style="margin-top: auto;">
    <a href="Communication" class="tablinks" onclick="openOption('Index','Communication')" id="defaultOpen">Dashboard</a>
    <a href="Colleagues" class="tablinks" onclick="openOption('Index','Colleagues')" id="defaultOpen">Fellow Colleagues</a>
    <a href="Project" class="tablinks" onclick="openOption('Index','Project')" id="defaultOpen">Your Projects</a>
    <a href="Profile" class="tablinks" onclick="openOption('Index','Profile')" id="defaultOpen">Your Profile</a>
    <a href="Login" class="tablinks" onclick="openOption('Index','Login')" id="defaultOpen">Logout</a>
</div>

<body>
    <table class="table">
        <thead role="rowgroup">
            <tr role="row">
                @foreach (System.Data.DataColumn col in Model.Columns)
                {
                    <th role="columnheader">@col.Caption</th>
                }

                @*<th role="columnheader">Update Info <button type="button">Click Me!</button></th>*@
            </tr>

        </thead>
        <tbody>
            @foreach (System.Data.DataRow row in Model.Rows)
            {

                <tr role="row">
                    @foreach (var cell in row.ItemArray)
                    {
                        <td class="edit"> <input type="edit" value=@cell.ToString() class="btn btn-default"></input></td>
                    }

                </tr>
            <th role="columnheader">Update Info <button type="button">Edit</button></th>

        }

            </tr>


            </tbody>


        </table>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <script type="text/javascript">
            $(".editshow").hide();
            $(".pressme").click(function () {
                $(".editshow".toggle();
                        )
                    })

        </script>
        <div>

            @RenderBody()

        </div>
        <script type="text/javascript">
            $(id).html(result);
    function Test(item) {
    var itemId = item.id,
        var url = '@Url.Action("UpdateProfile/", "Edit")';
        var data = { Id:itemId };
          $.post(url, data, function (result) {
              var id = '#postedFor' + postId;
              $(id).html(result);

        });
}
        </script>
    </body>

</html>
