@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Communication View</title>
</head>
<body>
    <section class="section-dark">
        @using (Html.BeginForm("postusingparameters", "Contact"))
        {
            <br />
            <h1>Please enter your message below: </h1>
            <br />
            <input id="CommMessage" type="text" name="CommMessage" placeholder="Your message here" required="" />
            <br />
            <br />
            <div id="submit-button">
                <button id="submit" type="submit">Send Message</button>
            </div>
        }
    </section>


    <div>
        @RenderBody()
    </div>
</body>
</html>